.upcomingcol
{width:80px;
    border-radius:50px !important;
    background:rgb(224, 194, 94);
    color: rgb(192, 117, 18);
    margin-left:50px;
   
}
.launchsuccol
{width:80px;
    border-radius:50px !important;
    background:rgb(164, 184, 212);
    color:rgb(23, 63, 122);
    margin-left:50px;
   
}
.launchfail
{  width:80px;
    border-radius:50px !important;
    background:pink;
   margin-left:50px;
    color: rgb(180, 28, 28);
  
   
}
body{
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
