<!-- 
toggle() {
    this.active = !this.active;
  }

  clicked(input: number) {
    // console.log(input);
    this.title = this.data[input].name;
    this.active = false;
  } -->
  <div class="wrapper">
    <div class="container" [ngClass]='{"open":active}' (click)="toggle()">
      <span>{{title}}</span>
      <span class="material-icons">
        expand_more
      </span>
    </div>
    <div class="active-container" [ngClass]='{"open":active}'>
      <div class="row" *ngFor="let item of data; let i = index" (click)="clicked(i)">
        <span>{{item.name}}</span>
      </div>
    </div>
  </div>