.header_class .bg-light {
    background:white !important;
    height:80px;
    padding-top:5px;
    border-bottom:1px solid #ccc;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
  
}
.header_class .img-fluid{
    margin-left: 550px;
    height:70px;
}