<!-- <p>launches works!</p> -->

<div class="container container1  container2" style="width: 1320px;">
  <a class="logo row text-center">
    <img src="../assets/images/Group.png">
  </a>
  <div class="row">
    <div class="col-xl-12 calender" style="justify-content: left; top: 20px;bottom: 30px; margin-bottom: 10px;" >
      <i class="material-icons date-range-icon ngx-daterangepicker-action" (click)="openDatepicker()"> date_range </i>
     
      <!-- <app-filter class="filter"[list]="filterList" (onFilterChange)="filterChange($event)"  > </app-filter> -->
      <!-- <i class="material-icons date-range-icon ngx-daterangepicker-action" (click)="openDatepicker()" style="margin-top: 5px;"> date_range </i> -->
     &nbsp; <input style="margin-bottom:10px;"
      class="date-picker"
      type="text"
      ngxDaterangepickerMd
      [showCustomRangeLabel]="true"
      
      [showRangeLabelOnInput]="true"
      [alwaysShowCalendars]="true"
      [linkedCalendars]="true"
      [ranges]="ranges"
      [showCancel]="true"
      [showClearButton]="true"
      
      placeholder="Select a Launch Date"
      (datesUpdated)="datesUpdated($event)"
      #dtpicker
      readonly
    />
    <i class="material-icons arrow-down-icon ngx-daterangepicker-action" (click)="openDatepicker()"> keyboard_arrow_down </i>
   
</div>
<div class="row">
    <div class="col-xl-6">
      <!-- <span  class="lanch span">All Launches</span>&nbsp;&nbsp;&nbsp; -->
      <app-filter class="btn" [list]="filterList" (onFilterChange)="filterChange($event)">
      </app-filter>
      <select class="nocolor"  #t  style="bottom: 50px; margin-left: 900px; position: absolute;">
        <option  value="" >All Launches</option>
         <option value="upcoming" > Upcoming Launches</option>
             <option value="past">Past Launches</option>
             <option value="launch_success=true" >SuccessFul Launches</option>
             <option value="launch_success=false" >Failed Launches</option>
     </select>
    </div>
  </div>
</div>

  <table class="table-responsive table-responsive1 table1" role="table" id="TobeApplied"
    style="border: solid 1px; width: 1000px; ">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader" style="width: 101px;" scope="row"> No. </th>
        <th role="columnheader" style="width: 210px;">Launch (UTC)</th>
        <th role="columnheader" style="width: 170px;">Location</th>
        <th role="columnheader" style="width:190px;"> Mission</th>
        <th role="columnheader" style="width: 100px;">Orbit</th>
        <th role="columnheader" style="width: 170px;"> Launches Status</th>
        <th role="columnheader" style="width: 170px;"> Rocket </th>
      </tr>

    </thead>

    <tbody role="rowgroup">
      <tr role="row" *ngFor="let ans of filter  | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength }
     " (click)="modal(template,ans)">
        <td role="cell" scope="row" data-label="No" style="overflow: hidden; text-overflow: ellipsis;">
          {{ans.flight_number}}</td>
        <td role="cell" data-label="Launch(UTC)">{{ans.launch_date_utc | date : 'd MMMM y'}} {{ans.launch_date_utc |
          date :
          'HH:mm'}}</td>
        <td role="cell" data-label="Location">{{ans.launch_site.site_name}}</td>
        <td data-label="Mission">{{ans.mission_name}}</td>
        <td data-label="Orbit">{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</td>
        <td data-label=" Success" style="margin-left: 20px;" class="badge"
          [ngClass]="{'danger':(!ans.launch_success && !ans.upcoming),'success':ans.launch_success,'warning':ans.upcoming}">
          {{ans.upcoming === true?
          'Upcoming' : ans.launch_success === true ?'Success':'failed'}}</td>
        <td data-label="Rocket">{{ans.rocket.rocket_name}}</td>

      </tr>
    </tbody>
  </table>
  <!-- loader -->
  <div class="card-body" *ngIf="loading">
    <div id="preloader"></div>
  </div>



  <pagination-controls class="pagination pagination1 " (pageChange)="page = $event"></pagination-controls>
  <!-- </div> -->

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body table-responsive">
      <!-- {{details.launch_success}} -->
      <table class="row" style="overflow-x: hidden;">
        <div class="col-xl-4">
     <img src="{{details.links.mission_patch_small}}" style="margin-left: 35px; width: 100px;"  >
      </div>
      
        <thead  style="color: #1F2937;  font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px; ">
          <div class="col-xl-4 colour" style=" font-size: 14px;
          line-height: 16px;margin-bottom: 8px; " >{{details.mission_name}}<br>{{details.rocket.rocket_name}}<br>
                   <span class="danger" [ngClass]="{'badge-primary ':(!details.launch_success && !details.upcoming ),'success':details.launch_success,'warning':details.upcoming}" style="border-radius: 10px; align-items: center;padding: 9px;margin-top: 10px; ">{{details.upcoming === true?
                    'Upcoming' : details.launch_success === true ?'Success':'failed'}}</span>
          </div>
          
          <!-- <hr> -->
        </thead>
        <tbody  style="color: #1F2937;  font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        align-items: center;
        line-height: 20px;
        left: 32px; margin-left: 35px; flex-direction: column; " >
          <!-- style="flex-direction: column;" -->
          {{details.details}}
          <a href="{{details.links.wikipedia}}"> wikipedia</a>
        <div class="row tablerow " style="background-color: white;">
          <div class="col-xl-4">
              <th>Flight Number</th> 
              </div>   
              <div class="col-xl-4">
               <td>{{details.flight_number}}</td>  
              </div>
      
       </div>
       <div class="row tablerow">
           <div class="col-xl-4">
            <th> Mission Name</th> 
           </div>  
           <div class="col-xl-4">
      <td>{{details.mission_name}}</td>  
       </div> 
   </div>
   <div class="row tablerow">
       <div class="col-xl-4">
       <th>Rocket Type</th> 
       </div>
       <div class="col-xl-4">
       <td>{{details.rocket.rocket_type}}</td>  
          </div> 
          </div> 
          <div class="row tablerow">
           <div class="col-xl-4">
              <th> Rocket Name</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.rocket.rocket_name}}</td>
           </div>  
          </div>  
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Manufacturer</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.rocket.second_stage.payloads[0].manufacturer}}</td>
           </div>  
          </div> 
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Nationality</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.rocket.second_stage.payloads[0].nationality}}</td> 
           </div> 
          </div> 
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Launch Date</th> 
              </div>
              <div class="col-xl-4">
               <td>{{details.launch_date_utc}}</td>
               </div>  
          </div> 
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Payload Type</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.rocket.second_stage.payloads[0].payload_type}}</td>
           </div>
          </div> 
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Launch Date</th>
              </div>
              <div class="col-xl-4"> 
           <td>{{details.rocket.second_stage.payloads[0].nationality}}</td>
           </div>  
          </div>  
          <div class="row tablerow">
           <div class="col-xl-4">
              <th>Orbit</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.rocket.second_stage.payloads[0].orbit}}</td>  
           </div>
          </div> 
          <div class="row tablerow1">
           <div class="col-xl-4">
              <th>Launch Site</th> 
              </div>
              <div class="col-xl-4">
           <td>{{details.launch_site.site_name}}</td> 
           </div> 
          </div>     
       </table>

    </div>
  </ng-template>
</div>