<!-- <p>launches works!</p> -->

<div class="container"  >
<div class="row">
  <div class="col float-left" style="top: 50px; bottom: -10px;">
    <i class="fa fa-calendar" aria-hidden="true">
      <input type="text" ngxDaterangepickerMd [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
        [ranges]="ranges" [linkedCalendars]="true" [isInvalidDate]="isInvalidDate" [showClearButton]="true"
        (change)="dateRangeCreated($event)" placeholder="Select a date..." />

    </i>
  </div>

</div>
  
  <div class="col ">
    <!-- <span  class="lanch span">All Launches</span>&nbsp;&nbsp;&nbsp; -->
    <app-filter class="btn"  [list]="filterList"
      (onFilterChange)="filterChange($event)">
    </app-filter>
     </div>
  
 
    <table class="table-responsive" >
      <thead>
        <tr>
          <th style="width: 51px;" scope="row"> No. </th>
          <th  style="width: 131px;">Launch (UTC)</th>
          <th style="width: 121px;">Location</th>
          <th  style="width: 90px;"> Mission</th>
          <th  style="width: 100px;">Orbit</th>
          <th  style="width: 100px;"> Launches Status</th>
          <th  style="width: 100px;"> Rocket </th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let ans of filter  | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength }
     " (click)="modal(template,ans)">
          <td scope="row" data-label="No" style="overflow: hidden; text-overflow: ellipsis;">{{ans.flight_number}}</td>
          <td data-label="Launch(UTC)">{{ans.launch_date_utc | date : 'd MMMM y'}} {{ans.launch_date_utc | date :
            'HH:mm'}}</td>
          <td data-label="Location">{{ans.launch_site.site_name}}</td>
          <td data-label="Mission">{{ans.mission_name}}</td>
          <td data-label="Orbit">{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</td>
          <td data-label=" Success" style="margin-left: 20px;" class="badge"
            [ngClass]="{'danger':(!ans.launch_success && !ans.upcoming),'success':ans.launch_success,'warning':ans.upcoming}">
            {{ans.upcoming === true?
            'Upcoming' : ans.launch_success === true ?'Success':'failed'}}</td>
          <td data-label="Rocket">{{ans.rocket.rocket_name}}</td>

        </tr>
      </tbody>
      <!-- <ng-container *ngif="active===i"> -->
      <!-- <app-dropdowndata class="dropdown" title="Actions" input="1"></app-dropdowndata> -->
      <!-- </ng-container> -->



      <!-- loader -->
                                <div class="card-body" *ngIf="loading">
                                  <div id="preloader"></div>
                                </div>
    </table>
  

  <pagination-controls class="pagination " (pageChange)="page = $event"></pagination-controls>
  <!-- </div> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body table-responsive">
    <!-- {{details.launch_success}} -->
    <table class="row table">
      <div class="col-3">
        <img class="img" src="{{details.links.mission_patch}}">
      </div>

      <div class="row">
        <div class="col-4">
          {{details.mission_name}}

        </div>
        <div class="col-2">
          <span class="badge"
            [ngClass]="{'danger':(!details.launch_success && !details.upcoming),'success':details.launch_success,'warning':details.upcoming}">{{details.upcoming
            === true?
            'Upcoming' : details.launch_success === true ?'Success':'failed'}}</span>
        </div>


      </div>

      <tbody class="col-10">
        {{details.details}}
        <a href="{{details.links.wikipedia}}">wikipedia</a>
        <!-- <link value="wikipedia" href="{{details.links.wikipedia}}"> -->

        <tr>
          <td>
            <span style="font-style: normal;"> Flight_number</span>
            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.flight_number}}


          </td>
          <hr>
        </tr>
        <tr>
          <td>
            Mission_name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.mission_name}}

          </td>
        </tr>
        <tr>
          <td>
            Rocket_type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.rocket_type}}
          </td>
        </tr>
        <tr>
          <td>
            Rocket:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.rocket_name}}
          </td>
        </tr>
        <tr>
          <td>
            Manifacturer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].manufacturer}}
          </td>
        </tr>
        <tr>
          <td>
            Nationality:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].nationality}}
          </td>
        </tr>
        <tr>
          <td>
            Launch_date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.launch_date_utc}}
          </td>
        </tr>
        <tr>
          <td>
            Payload-type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].payload_type}}
          </td>
        </tr>
        <tr>
          <td>
            Orbit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].orbit}}
          </td>
        </tr>
        <tr>
          <td>
            Launch_site:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.launch_site.site_name}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</ng-template>
</div>