<!-- <p>launches works!</p> -->

<div class="container" style="width: 1300px; overflow-y: hidden;">
  <!-- <app-date-picker class="date"  (date)="datechange($event)"></app-date-picker> -->
              <div class="col-xl-12" style="top: 50px; bottom: -10px;" >
              <i class="fa fa-calendar" aria-hidden="true">
                  <input type="text"
                  ngxDaterangepickerMd
                [showCustomRangeLabel]="true"
                  [alwaysShowCalendars]="true"
                  [ranges]="ranges"
                  [linkedCalendars]="true"
                  [isInvalidDate] = "isInvalidDate"
                  [showClearButton]="true"
                  (change)="dateRangeCreated($event)" 
                  placeholder="Select a date..."/>

              </i>
              <!-- {{selected.startDate._d}} -->
              </div>


        <div class="row">
          <span  style="bottom: 20px;margin-left: 980px; " class="lanch col-xl-6">All Launches</span>&nbsp;&nbsp;&nbsp;
          <app-filter  class="btn col-sm-2"style="color:gray; position: absolute; left:195px; top:  75px;"

          [list]="filterList" 
          (onFilterChange)="filterChange($event)" >
          </app-filter> 
        </div>

<div class="table-responsive">
  <table class="table" style="width:100%; table-layout: fixed;">
 
    <thead >
      <tr>
        <th  style="width: 51px;" > No.  </th>
        <th  style="width: 131px;">Launch (UTC)</th>
        <th style="width: 121px;">Location</th> 
        <th style="width: 90px;"> Mission</th>
        <th style="width: 100px;">Orbit</th>
        <th style="width: 100px;"> Launches Status</th>
        <th style="width: 100px;"> Rocket </th>
      </tr>
   
    </thead>

    <tbody>
      <tr *ngFor="let ans of filter  | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength }
     " (click)="modal(template,ans)">
        <td style="overflow: hidden; text-overflow: ellipsis;">{{ans.flight_number}}</td>
        <td>{{ans.launch_date_utc | date : 'd MMMM y'}} {{ans.launch_date_utc | date :
          'HH:mm'}}</td>
        <td>{{ans.launch_site.site_name}}</td>
        <td>{{ans.mission_name}}</td>
        <td>{{ans['rocket']['second_stage']['payloads'][0]['orbit']}}</td>
        <td style="margin-left: 20px;" class="badge"  [ngClass]="{'danger':(!ans.launch_success && !ans.upcoming),'success':ans.launch_success,'warning':ans.upcoming}">{{ans.upcoming === true?
          'Upcoming' : ans.launch_success === true ?'Success':'failed'}}</td>
        <td>{{ans.rocket.rocket_name}}</td>
        
     </tr>
    </tbody>
     <!-- <ng-container *ngif="active===i"> -->
      <!-- <app-dropdowndata class="dropdown" title="Actions" input="1"></app-dropdowndata> -->
    <!-- </ng-container> -->
     

    
    <!-- loader -->
            <div class="card-body" *ngIf="loading">
              <div id="preloader"></div>
            </div>
  </table>
</div>

<pagination-controls class="pagination " (pageChange)="page = $event"></pagination-controls>
    <!-- </div> -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body table-responsive">
        <!-- {{details.launch_success}} -->
        <table class="row table">
          <div class="col-xl-3">
        <img class="img"    src="{{details.links.mission_patch}}">
        </div>
        
          <div class="row">
            <div class="col-xl-4">
              {{details.mission_name}}
              
          </div>
          <div class="col-xl-2">
            <span class="badge" [ngClass]="{'danger':(!details.launch_success && !details.upcoming),'success':details.launch_success,'warning':details.upcoming}">{{details.upcoming === true?
              'Upcoming' : details.launch_success === true ?'Success':'failed'}}</span>
          </div>
       

          </div>
        
          <tbody class="col-xl-10">
            {{details.details}}
            <a href="{{details.links.wikipedia}}">wikipedia</a>
            <!-- <link value="wikipedia" href="{{details.links.wikipedia}}"> -->

            <tr>
              <td>
              <span style="font-style: normal;"> Flight_number</span> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.flight_number}}
              
               
              </td>
              <hr>
            </tr>
            <tr>
              <td>
               Mission_name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.mission_name}}
              
              </td>
            </tr>
            <tr>
              <td>
                Rocket_type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.rocket_type}}
              </td>
            </tr>
            <tr>
              <td>
                Rocket:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.rocket_name}}
              </td>
            </tr>
            <tr>
              <td>
                Manifacturer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].manufacturer}}
              </td>
            </tr>
            <tr>
              <td>
                Nationality:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].nationality}}
              </td>
            </tr>
            <tr>
              <td>
                Launch_date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.launch_date_utc}}
              </td>
            </tr>
            <tr>
              <td>
                Payload-type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].payload_type}}
              </td>
            </tr>
            <tr>
              <td>
                Orbit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.rocket.second_stage.payloads[0].orbit}}
              </td>
            </tr>
            <tr>
              <td>
                Launch_site:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.launch_site.site_name}}
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </ng-template>
   </div>